* { box-sizing: border-box;}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1e1e1c;
    color: #F4F4EA;
    font-size: 14px;
    line-height: 1.2;
}

a {
    color: #F4F4EA;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

img {
    border-radius: 5px;
    width: 100%;
}

ul {
    list-style-type: none;
}

input {
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1c;
    font-size: 14px;
}

.container {
    margin: 30px 20px;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

.mobile {
    display: block;
}
.desktop {
    display: none;
}

.hidden ~ #placeholder {
    display: block;
}

#placeholder {
    display: none;
    background-image: url(../img/placeholder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-moz-selection { /* Code for Firefox */
  color: #F4F4EA;
  background: #FF277F;
}
  
::selection {
color: #F4F4EA;
background: #FF277F;
}

/* header */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo a {
    background-image: url(../img/Logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
    transition: .4s;
}

#logo span {
    display: none;
}

/* search */

.dropdown {  
    position: absolute;
    top: 30px;
    right: 20px;
    width: 70%;
    border-radius: 20px;
    transition: .5s ease-out;
    background-color: #F4F4EA;
    color: #1e1e1c;
    border: none;
}

.dropdown input {
    background-image: url(../img/searchicon.png);
    background-color: #F4F4EA;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px 10px 10px 15px;;
}

.dropdown input:focus {
    outline: none;
}

.dropdown ul {
    background-color: #F4F4EA;
    border-radius: 20px;
}

.dropdown ul li a {
    display: block;
    color: #1e1e1c;
    padding: 5px 10px;
    width: 100%;
}
.dropdown ul li a:hover {
    background-color: #FF277F;
    color: #F4F4EA;
}

/* video */

iframe, #placeholder {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin: 10px 0;
}

/* buttons */

nav, nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav div .button {
    margin-right: 10px;
}

.button {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    transition: .4s;
}

.button:hover, #logo a:hover {
    transform: scale(1.1);
}

.button span {
    display: none;
}

.button.play {  
    background-image: url(../img/playbutton.png);
}
.button.pause {  
    background-image: url(../img/pausebutton.png);
}
.button.skip {  
    background-image: url(../img/skipbutton.png);
}
.button.add {  
    background-image: url(../img/addbutton.png);
}
.button.remove {  
    background-image: url(../img/removebutton.png);
}

/* queue */

.background {
    background: #000;
    padding: 20px 0;
    width: 100%;
}

.hidden~.background {
    background: transparent;
}

h3.queue {
    padding-bottom: 10px;
    border-bottom: 3px solid #FF277F;
}

ul.queue li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #F4F4EA;
}
ul.queue li:first-of-type {
    border: none;
}

ul.queue li a:first-of-type {
    display: flex;
    align-items: center;
    width: 85%;
}

ul.queue li a img {
    width: 50%;
    margin-right: 10px;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    .container {
        margin: 50px 40px;
    }

    /* header */

    #logo a {
        background-image: url(../img/Logo2.png);
        width: 137px;
        height: 40px;
    }
    
    /* search */

    .dropdown {  
        top: 50px;
        right: 40px;
        width: 60%;
    }

    .dropdown input {
        background-position: 97% 50%;
    }

    /* video */

    iframe, #placeholder {
        height: 500px;
        margin: 20px 0;
    }

    /* buttons */

    .button.add {  
        background-image: url(../img/addbutton2.png);
        width: 105px;
    }

    /* queue */

    ul.queue li a img {
        margin-right: 20px;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 20px;
        display: inline;
    }
    
    h3 {
        font-size: 40px;
    }

    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }

    /* header */

    #logo a {
        width: 150px;
        height: 50px;
    }
    
    /* search */

    .dropdown {  
        width: calc(100% - 80px);
    }

    main {
        width: calc(70% - 80px);
    }

    main .video {
        width: 100%;
    }

    /* video */

    iframe, #placeholder {
        height: 425px;
        margin: 10px 0;
    }

    /* buttons */

    .button {
        width: 30px;
        height: 30px;
    }
    .button.add {  
        background-image: url(../img/addbutton2.png);
        width: 79px;
    }

    /* queue */

    .background {
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        padding: 0;
        min-height: 100vh;
    }

    .hidden~.background {
        background: #000;
    }

    ul.queue {
        padding-top: 86px;
    }

    ul.queue li {
        padding: 10px 0;
    }

    ul.queue li a img {
        margin-right: 30px;
    }
}

@media (min-width: 1700px) {
    .container {
        margin: 50px 100px;
    }

    main {
        width: calc(70% - 200px);
    }

    iframe, #placeholder {
        height: 700px;
    }

    .dropdown {
        top: 50px;
        right: 100px;
        width: calc(100% - 200px);
    }
}